<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(orders.length<=0) { %>
            <h1>Nothing there!</h1>
            <% } else { %>
                <ul class="orders">
                    <% orders.forEach(order => { %>
                        <li class="orders__item">
                            <h2>Order <%= order._id %></h2>
                            <ul class="orders__products">  
                                <% order.products.forEach(item => { %>
                                    <li class="orders__products-item">
                                        <h3><%= item.product.title %></h3>
                                        <p>Quantity: <%= item.quantity %></p>
                                    </li>
                                <% }) %>
                            </ul>
                        </li>
                    <% }) %>
                </ul>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>