<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(orders.length<=0) { %>
            <h1>Nothing there!</h1>
            <% } else { %>
                <ul>
                    <% orders.forEach(order => { %>
                        <li>
                            <h2>Order <%= order._id %></h2>
                            <ul>  
                                <% order.items.forEach(product => { %>
                                    <li>
                                        <h3><%= product.title %></h3>
                                        <p>Quantity: <%= product.quantity %></p>
                                    </li>
                                <% }) %>
                            </ul>
                        </li>
                    <% }) %>
                </ul>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>